body {
    cursor: grab;
}
h1 {
    text-align: center;
    color: white;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    cursor: pointer;
}

.weather-heading {
    background-color: darkblue;
    margin: 0;
    padding: 10px;
}

.weather-icon {
    padding: 0;
    margin: 0;
    position: relative;
}

#city-name {
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    height: 50px;
    width: 310px;
    border-radius: 10px;
}

hr.solid {
    border-top: 3px solid darkgrey;
    padding: 10px;
  }

.five-day-forecast {
    padding-top: 20px;
}

#submit-button {
    padding: 10px;
    margin: 0;
    border-radius: 5px;
}

#city {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

.city-list {
    border-radius: 10px;
    background-color: darkgrey;
    color: black;
}

.forecast {
    background-color: rgb(8, 0, 95);
    line-height: 3.0;
    font-weight: bold;
}

.weather-grid {
    margin-left: 0;
    margin-right: 0px;
}

.card-body {
    border: 2px solid black;
    font-size: 24px;
}

.favorite-cities {
    display: grid;
    grid-row-gap: 10px;
    padding: 5px;
    text-align: center;
}

.favorite-city-button {
    border-radius: 5px;
    background-color: gainsboro;
    font-size: 24px;
}

.clear-button {
    border-radius: 5px; 
    margin-top: 10px;
    position: absolute;
    /* top: 50%; */
    left: 30%;
    border: 3px solid green;
}