h1 {
    text-align: center;
    color: white;
    font-weight: bold;
}

.weather-heading {
    background-color: darkblue;
    margin: 0;
    padding: 10px;
}

.city-name {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

hr.solid {
    border-top: 3px solid darkgrey;
    padding: 10px;
  }

.five-day-forecast {
    padding-top: 20px;
}

#submit-button {
    padding: 10px;
    margin: 0;
    border-radius: 5px;
}

#city {
    padding-top: 15px;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 36px;
}

.city-list {
    border-radius: 10px;
    background-color: darkgrey;
    color: black;
}

.forecast {
    background-color: rgb(8, 0, 95);
    line-height: 3.0;
    font-weight: bold;
}

.card-body {
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    font-size: 24px;
}

.favorite-cities {
    background-color: grey;
    padding: 5px;
    text-align: center;
}